.podcast-lateral {
  display: flex;
  flex-direction: column;
  box-shadow: $box-shadow;
  margin: 10px;
  padding: 20px;

  img {
    width: 80%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    border-radius: 0.25rem;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.3rem;
  }

  p.title {
    font-size: 1.3rem;
    margin-block-end: 0;
  }

  p.italic-text {
    font-size: 0.76rem;
    font-style: italic;
  }

  p.description {
    font-size: 0.76rem;
  }

  .hr {
    margin: 20px 0;
    border-top: 1px solid $color-border;
  }
}

.podcast-episodes {
  &-list {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    box-shadow: $box-shadow;
    margin: 10px;
    padding: 10px;

    .line {
      grid-column: 1 / -1;
      height: 1px;
      background: $color-border;
    }

    .line__header {
      height: 2px;
    }

    .item {
      margin: 10px 0;
    }
  }

  &-details {
    box-shadow: $box-shadow;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
