@import "variables";
@import "header";
@import "home_podcast";
@import "empty_list";
@import "router-loading";

* {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.general-content {
  margin: 50px 20px;
}
